# PyCharm IDE files
.idea/
*.iml
*.iws

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Flask environment files
instance/
.webassets-cache

# Virtual environment
venv/
env/
ENV/
/BKP1
.virtualenv/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite
*.db
*.pkl

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# VS Code files (if used)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# dotenv files
.env
*.env

# Temporary files
*.tmp
*.temp

# Support files
*.zip
.python_packages
*.csv
*.whl
*.crt
*.key

# Miscellaneous
notes
allMiniLML6v2